.review-page {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__path-info {
    padding: 2px 5px;
    background-image: url("../../image/dark_geometric.png");
    color: white;
    font-size: 0.8rem;
    width: 100%;
    padding: 10px;
  }

  &__header {
    width: 100%;
    height: 400px;
    position: relative;

    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &__goBack {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1.7rem;
      border-radius: 5px;
      padding: 5px 10px;
      border: none;
      background-color: rgba(255, 255, 255, 0.801);
      position: absolute;
      top: 15px;
      right: 25px;
      &__text {
        font-size: 0.8rem;
      }
    }

    &__goBack:hover {
      cursor: pointer;
      background-color: white;
    }
  }

  &__contents {
    width: 100%;
    margin-top: 20px;
    max-width: 500px;
    padding: 10px;
    &__title {
      position: relative;
      &__title {
        font-size: 1.4rem;
        font-weight: bold;
      }
      &__date {
        margin-top: 4px;
        font-size: 0.8rem;
        color: rgb(51, 51, 51);
      }
      &__owner {
        font-size: 0.8rem;
        display: inline;
      }

      &__interaction_container {
        display: flex;
        position: absolute;
        right: 10px;
        bottom: -2px;

        &__like {
          height: 35px;
          width: 35px;
          border-radius: 50%;
        }

        &__like:hover {
          cursor: pointer;
        }

        &__votes {
          height: 35px;
          width: 100px;
        }

        .interaction-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background-color: rgb(231, 231, 231);
          margin-left: 5px;
          font-size: 0.8rem;
        }
      }
    }

    &__body {
      margin-top: 20px;
      line-height: 1.4;
    }
  }
}

.review-comments-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.comments-container {
  padding: 0 10px 10px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__comment {
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    &__header {
      border-radius: 3px 3px 0 0;
      display: flex;
      justify-content: space-between;
      padding: 5px;
      background-color: rgb(240, 240, 240);
      background-image: url("../../image/dark_geometric.png");
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__date {
        font-size: 0.8rem;
      }

      &__author {
        color: white;
      }
    }

    &__body {
      padding: 5px;
      background-color: rgb(247, 247, 247);
    }

    &__controls {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.4rem;

      &__icon-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 64, 64);
        padding: 3px 10px;
        margin-bottom: 3px;
      }

      &__icon-button:hover {
        cursor: pointer;
        background-color: rgb(230, 230, 230);
      }

      &__confirm {
        font-style: italic;
        color: rgb(255, 64, 64);
        font-size: 0.8rem;
        text-decoration: underline;
      }

      &__confirm:hover {
        cursor: pointer;
      }
    }
  }
  &__deleted-comment {
    display: none;
  }
}

.comment-input {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px;
    padding: 10px;

    div {
      height: 100px;
    }
    &__input {
      width: 100%;
    }

    &__submit {
      height: 40px;
      width: 80%;
      margin-top: 20px;

      border: none;
      color: white;
      background-color: rgb(58, 57, 57);
      border-radius: 2px;
    }

    &__submit:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
