.review-page {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-page__path-info {
  padding: 2px 5px;
  background-image: url("../../image/dark_geometric.png");
  color: white;
  font-size: 0.8rem;
  width: 100%;
  padding: 10px;
}

.review-page__header {
  width: 100%;
  height: 400px;
  position: relative;
}

.review-page__header__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.review-page__header__goBack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.7rem;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.801);
  position: absolute;
  top: 15px;
  right: 25px;
}

.review-page__header__goBack__text {
  font-size: 0.8rem;
}

.review-page__header__goBack:hover {
  cursor: pointer;
  background-color: white;
}

.review-page__contents {
  width: 100%;
  max-width: 500px;
  padding: 10px;
}

.review-page__contents__title {
  position: relative;
}

.review-page__contents__title__title {
  font-size: 1.4rem;
  font-weight: bold;
}

.review-page__contents__title__date {
  font-size: 0.8rem;
  color: #333333;
}

.review-page__contents__title__owner {
  font-size: 0.8rem;
  display: inline;
}

.review-page__contents__title__like {
  position: absolute;
  right: 10px;
  bottom: -2px;
}

.review-page__contents__title__like button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #e7e7e7;
}

.review-page__contents__title__like button:hover {
  cursor: pointer;
}

.review-page__contents__body {
  margin-top: 20px;
}

.review-comments-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.comments-container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-container__comment {
  max-width: 400px;
  width: 100%;
  margin-top: 10px;
}

.comments-container__comment__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  background-color: #dddddd;
}

.comments-container__comment__body {
  padding: 5px;
}

.comment-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-input__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 350px;
  padding: 10px;
}

.comment-input__form__input {
  width: 100%;
}

.comment-input__form__submit {
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  color: white;
  background-color: #3a3939;
  border-radius: 2px;
}
/*# sourceMappingURL=review.css.map */