.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-container .oldnew-toggle {
  border: none;
  font-family: "Bungee", cursive;
  padding: 5px 20px;
  background-image: url("../../image/dark_geometric.png");
  color: white;
  border-radius: 2px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.profile-container .oldnew-toggle:hover {
  cursor: pointer;
  color: orange;
}

.profile-container__card {
  position: relative;
  min-width: 290px;
  width: 80%;
  max-width: 400px;
  margin-top: 15px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
}

.profile-container__card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;
  color: white;
  background-image: url("../../image/dark_geometric.png");
}

.profile-container__card__header__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid #f8f8f8 2px;
  margin-right: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-container__card__header__info__label {
  font-size: 0.7rem;
  font-style: italic;
}

.profile-container__card__header__info__name {
  font-weight: bold;
}

.profile-container__card__info-grid {
  display: -ms-grid;
  display: grid;
  background-color: white;
  padding: 8px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  font-size: 0.9rem;
  border-radius: 0 0 5px 5px;
}

.profile-container__card__info-grid__title {
  text-align: right;
}

.profile-container__card__info-grid__number {
  text-align: center;
}

.profile-container__card__delete-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 4px;
}

.profile-container__card .modal-cancel-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px;
  border-radius: 50%;
}

.profile-container__card .modal-cancel-button:hover {
  cursor: pointer;
}

.profile-container__card__control-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
}

.profile-container__card__control-buttons__del {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  border-radius: 50%;
}

.profile-container__card__control-buttons__del:hover {
  cursor: pointer;
}

.profile-container .review-list {
  min-width: 290px;
  width: 60%;
  max-width: 400px;
  margin-top: 10px;
}

.profile-container .review-list__container {
  border-radius: 5px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 10px;
  width: 100%;
}

.profile-container .review-list__container__imagecont {
  position: relative;
}

.profile-container .review-list__container__imagecont img {
  border-radius: 5px 5px 0 0;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.profile-container .review-list__container__imagecont__interaction {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.945);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2px 6px;
  border-radius: 2px;
  color: black;
}

.profile-container .review-list__container__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 5px;
}

.profile-container .review-list__container__main__interaction {
  padding-left: 5px;
}

.profile-container .review-list__container__main__interaction__votes {
  height: 100%;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10px;
}

.profile-container .review-list__container__main__interaction__votes button {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-container .review-list__container__main__interaction__votes__number {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-container .review-list__container__main__interaction__votes__up:hover {
  color: #68bb68;
}

.profile-container .review-list__container__main__interaction__votes__down:hover {
  color: #d45e5e;
}

.profile-container .review-list__container__main__interaction__votes button:hover {
  cursor: pointer;
}

.profile-container .review-list__container__main__info {
  padding: 2px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.profile-container .review-list__container__main__info__main-int {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-container .review-list__container__main__info__main-int .main-int-items {
  border-radius: 50%;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
}

.profile-container .review-list__container__main__info__main-int .main-int-items:hover {
  background-color: #e6e6e6;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}

.profile-container .review-list__container__main__info__main-int__liked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.profile-container .review-list__container__main__info__main-int__delete {
  font-size: 1.1rem;
  color: #c4c4c4;
}

.profile-container .review-list__container__main__info__main-int__delete:hover {
  cursor: pointer;
  color: red;
  background: #ffdfdf;
}

.profile-container .review-list__container__main__info__header__title {
  width: 80%;
  font-weight: bold;
}

.profile-container .review-list__container__main__info__header__date {
  font-size: 0.8rem;
}

.profile-container .review-list__container__main__info__header__links {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-container .review-list__container__main__info__delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  top: 5px;
  right: 10px;
  color: red;
}

.profile-container .review-list__container__main__info__delete:hover {
  cursor: pointer;
  background: #f1bfbf;
}

.profile-container .review-list__container__main .del-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
  border-radius: 0 0 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.profile-container .review-list__container__main .del-modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}

.profile-container .review-list__container__main .del-modal__buttons .modal-button {
  border: none;
  width: 45%;
  border-radius: 5px;
  padding: 8px 10px;
  font-weight: bold;
}

.profile-container .review-list__container__main .del-modal__buttons .modal-button:hover {
  cursor: pointer;
}

.profile-container .review-list__container__main .del-modal__buttons__confirm {
  background: #81db81;
}

.profile-container .review-list__container__main .del-modal__buttons__confirm:hover {
  background: #509250;
}

.profile-container .review-list__container__main .del-modal__buttons__deny {
  background: #ec7e7e;
}

.profile-container .review-list__container__main .del-modal__buttons__deny:hover {
  background: #b65353;
}

.profile-container__buttons button {
  border: none;
  background-color: #313131;
  padding: 10px 5px;
  margin: 20px 0px;
  font-family: "Bungee", cursive;
}

.profile-container__buttons .left-button {
  padding-left: 10px;
  border-radius: 4px 0 0 4px;
}

.profile-container__buttons .right-button {
  padding-right: 10px;
  border-radius: 0 4px 4px 0;
}

.profile-container__buttons button:hover {
  cursor: pointer;
  background-color: #161616;
}

.profile-container__comment {
  min-width: 290px;
  width: 60%;
  max-width: 400px;
  margin-bottom: 10px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 4px;
}

.profile-container__comment__title {
  display: block;
  background-image: url("../../image/dark_geometric.png");
  color: white;
  padding: 5px 10px;
  border-radius: 4px 4px 0 0;
}

.profile-container__comment__info {
  background-color: white;
  border-radius: 0 0 4px 4px;
  padding: 5px 10px;
}

.profile-container__comment__info__date {
  font-size: 0.8rem;
  color: #575757;
}

.profile-container__comment__info__body {
  line-height: 1.4rem;
}

.edit-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-modal__input-field {
  width: 90%;
}

.edit-modal__error {
  font-size: 0.8rem;
}

.edit-modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.edit-modal__buttons .edit-modal-button {
  width: 40%;
  border: none;
  font-weight: bold;
  padding: 5px;
  border-radius: 2.5px;
}

.edit-modal__buttons .edit-modal-button:hover {
  cursor: pointer;
}

.edit-modal__buttons__confirm {
  background-color: #78dd78;
}

.edit-modal__buttons__confirm:hover {
  background-color: #71cf71;
}

.edit-modal__buttons__cancel {
  background-color: #dd7878;
}

.edit-modal__buttons__cancel:hover {
  background-color: #c76a6a;
}

.modal-loading {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: orange;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-loading img {
  height: 70%;
}

.delete-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.delete-modal__header {
  text-align: center;
  font-size: 1.2rem;
  color: red;
  font-weight: bold;
}

.delete-modal__confirmation-text {
  font-size: 0.8rem;
  text-align: center;
  padding: 0 30px;
}

.delete-modal button {
  background-color: #b80000;
  color: white;
  font-weight: bold;
  padding: 5px;
  border: none;
  border-radius: 2px;
}

.delete-modal button:hover {
  background-color: #850000;
  cursor: pointer;
}
/*# sourceMappingURL=profile.css.map */