.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .oldnew-toggle {
    border: none;
    font-family: "Bungee", cursive;
    padding: 5px 20px;
    background-image: url("../../image/dark_geometric.png");
    color: white;
    border-radius: 2px;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .oldnew-toggle:hover {
    cursor: pointer;
    color: orange;
  }

  &__card {
    position: relative;
    min-width: 290px;
    width: 80%;
    max-width: 400px;
    margin-top: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    &__header {
      display: flex;
      align-items: center;
      background-color: white;
      padding: 10px 15px;
      border-radius: 5px 5px 0 0;
      color: rgb(255, 255, 255);
      background-image: url("../../image/dark_geometric.png");
      &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: solid rgb(248, 248, 248) 2px;
        margin-right: 15px;
        object-fit: cover;
      }

      &__info {
        &__label {
          font-size: 0.7rem;
          font-style: italic;
        }
        &__name {
          font-weight: bold;
        }
      }
    }

    &__info-grid {
      display: grid;
      background-color: white;
      padding: 8px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      font-size: 0.9rem;
      border-radius: 0 0 5px 5px;

      &__title {
        text-align: right;
      }

      &__number {
        text-align: center;
      }
    }

    &__delete-modal {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(255, 255, 255);
      border-radius: 4px;
    }

    .modal-cancel-button {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 3px;
      border-radius: 50%;
    }

    .modal-cancel-button:hover {
      cursor: pointer;
    }

    &__control-buttons {
      position: absolute;
      right: 10px;
      top: 10px;

      &__del {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        border-radius: 50%;
      }

      &__del:hover {
        cursor: pointer;
      }
    }
  }

  .review-list {
    min-width: 290px;
    width: 60%;
    max-width: 400px;
    margin-top: 10px;

    &__container {
      border-radius: 5px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      margin-bottom: 10px;
      width: 100%;
      &__imagecont {
        position: relative;
        img {
          border-radius: 5px 5px 0 0;
          height: 100px;
          object-fit: cover;
          width: 100%;
        }

        &__interaction {
          position: absolute;
          bottom: 10px;
          right: 10px;
          background-color: rgba(255, 255, 255, 0.945);
          display: flex;
          justify-content: flex-end;

          padding: 2px 6px;
          border-radius: 2px;
          color: black;
        }
      }

      &__main {
        display: flex;
        position: relative;
        padding: 5px;

        &__interaction {
          padding-left: 5px;
          &__votes {
            height: 100%;
            width: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-right: 10px;
            button {
              border: none;
              background-color: transparent;
              font-size: 1.2rem;
              display: flex;
            }

            &__number {
              height: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            &__up:hover {
              color: rgb(104, 187, 104);
            }

            &__down:hover {
              color: rgb(212, 94, 94);
            }

            button:hover {
              cursor: pointer;
            }
          }
        }

        &__info {
          padding: 2px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          position: relative;
          &__main-int {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            .main-int-items {
              border-radius: 50%;
              padding: 2px;
              display: flex;
              justify-content: center;
              align-items: center;
              justify-content: center;
            }

            .main-int-items:hover {
              background-color: rgb(230, 230, 230);
              border-radius: 50%;
              padding: 2px;
              cursor: pointer;
            }
            &__liked {
              display: flex;
              justify-content: center;
              align-items: center;
              justify-content: center;
              font-size: 1.2rem;
            }

            &__delete {
              font-size: 1.1rem;
              color: rgb(196, 196, 196);
            }
            &__delete:hover {
              cursor: pointer;
              color: red;
              background: rgb(255, 223, 223);
            }
          }

          &__header {
            &__title {
              width: 80%;
              font-weight: bold;
            }
            &__date {
              font-size: 0.8rem;
            }
            &__links {
              font-size: 0.8rem;
              display: flex;
              justify-content: space-between;
            }
          }
          &__delete {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;

            padding: 5px;
            border-radius: 50%;
            top: 5px;
            right: 10px;
            color: red;
          }

          &__delete:hover {
            cursor: pointer;
            background: rgb(241, 191, 191);
          }
        }
        .del-modal {
          position: absolute;
          height: 100%;
          width: 100%;
          background: white;
          top: 0;
          left: 0;
          border-radius: 0 0 3px 3px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding-bottom: 10px;

          &__buttons {
            display: flex;
            justify-content: space-around;
            width: 90%;
            .modal-button {
              border: none;
              width: 45%;
              border-radius: 5px;
              padding: 8px 10px;
              font-weight: bold;
            }

            .modal-button:hover {
              cursor: pointer;
            }

            &__confirm {
              background: rgb(129, 219, 129);
            }

            &__confirm:hover {
              background: rgb(80, 146, 80);
            }

            &__deny {
              background: rgb(236, 126, 126);
            }

            &__deny:hover {
              background: rgb(182, 83, 83);
            }
          }
        }
      }
    }
  }

  &__buttons {
    button {
      border: none;
      background-color: rgb(49, 49, 49);
      padding: 10px 5px;
      margin: 20px 0px;
      font-family: "Bungee", cursive;
    }

    .left-button {
      padding-left: 10px;
      border-radius: 4px 0 0 4px;
    }

    .right-button {
      padding-right: 10px;
      border-radius: 0 4px 4px 0;
    }

    button:hover {
      cursor: pointer;
      background-color: rgb(22, 22, 22);
    }
  }

  &__comment {
    min-width: 290px;
    width: 60%;
    max-width: 400px;
    margin-bottom: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 4px;

    &__title {
      display: block;
      background-image: url("../../image/dark_geometric.png");
      color: white;
      padding: 5px 10px;
      border-radius: 4px 4px 0 0;
    }

    &__info {
      background-color: white;
      border-radius: 0 0 4px 4px;
      padding: 5px 10px;

      &__date {
        font-size: 0.8rem;
        color: rgb(87, 87, 87);
      }

      &__body {
        line-height: 1.4rem;
      }
    }
  }
}

.edit-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  align-items: center;

  &__input-field {
    width: 90%;
  }

  &__error {
    font-size: 0.8rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .edit-modal-button {
      width: 40%;
      border: none;
      font-weight: bold;
      padding: 5px;
      border-radius: 2.5px;
    }

    .edit-modal-button:hover {
      cursor: pointer;
    }

    &__confirm {
      background-color: rgb(120, 221, 120);
    }

    &__confirm:hover {
      background-color: rgb(113, 207, 113);
    }

    &__cancel {
      background-color: rgb(221, 120, 120);
    }

    &__cancel:hover {
      background-color: rgb(199, 106, 106);
    }
  }
}

.modal-loading {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  color: orange;
  flex-direction: column;

  img {
    height: 70%;
  }
}

.delete-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  &__header {
    text-align: center;
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
  }

  &__confirmation-text {
    font-size: 0.8rem;
    text-align: center;
    padding: 0 30px;
  }

  button {
    background-color: rgb(184, 0, 0);
    color: white;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 2px;
  }

  button:hover {
    background-color: rgb(133, 0, 0);
    cursor: pointer;
  }
}
