@media only screen and (max-width: 900px) {
  .ls-container {
    &__inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;

      &__mobonlyheader {
        display: flex;
        justify-content: flex-start;
        padding-left: 48px;
        font-size: 2rem;
        color: white;
        align-items: center;
        width: 100vw;
        height: 10vh;
        font-weight: bold;
        background-color: rgb(46, 46, 46);
        object-fit: fill;
      }
      &__logo {
        display: none;
      }

      &__form {
        height: 100%;
        padding: 40px 48px;
        width: 100vw;
        max-width: 400px;
      }

      .login-controls {
        display: flex;
        flex-direction: column;
        .ls-toggle {
          display: flex;
          border: none;
          text-align: left;
          width: auto;
          background-color: white;
          margin-top: 10px;
        }
        .ls-toggle p:hover {
          cursor: pointer;
          text-decoration: underline;
        }
        .ls-guest:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .ls-container {
    &__inner {
      width: 860px;
      height: 700px;
      box-shadow: 3px 4px 5px -4px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 3px 4px 5px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 3px 4px 5px -4px rgba(0, 0, 0, 0.75);
      &__mobonlyheader {
        display: none;
      }
      &__logo {
        border-radius: 5px 0 0 5px;
        width: 45%;
        height: 100%;
        background-image: url('https://i.ibb.co/9hGKYK3/login-bg.jpg');
        background-position-x: -80px;

        &__title {
          color: rgb(34, 34, 34);
          font-size: 3rem;
          padding: 70px 30px;
        }
      }

      &__form {
        width: 55%;
        height: 100%;
        padding: 40px 48px;
      }
      .login-controls {
        display: flex;
        justify-content: space-between;
        .ls-toggle {
          display: flex;
          border: none;
          text-align: left;
          width: auto;
          background-color: white;
        }
        .ls-toggle p:hover {
          cursor: pointer;
          text-decoration: underline;
        }
        .ls-guest:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    background-image: url('../../image/dark_geometric.png');
  }
}

.ls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .ls-error {
    font-size: 0.7rem;
    color: red;
    height: 0.8rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  &__inner {
    display: flex;

    &__form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 0 5px 5px 0;
      background-color: white;

      .lp-header {
        font-size: 1.5rem;
      }
      form {
        padding-bottom: 80px;
        label {
          font-size: 0.7rem;
          font-weight: bold;
          margin-top: 20px;
        }

        input {
          border: none;
          background-color: rgb(240, 240, 240);
          height: 1.8rem;
          border: rgb(202, 202, 202) solid 1px;
          border-radius: 2px;
          padding-left: 6px;
        }

        input:focus {
          border: rgb(126, 197, 126) solid 1px;
          outline: none;
        }
        button {
          margin-top: 25px;
          width: 100px;
          border: none;
          border-radius: 2px;
          font-weight: bold;
          background-color: rgb(156, 250, 156);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 35px;
        }

        .load-text {
          padding: 8px;
        }
        .button-load {
          height: 30px;
          padding: 0;
        }

        button:hover {
          cursor: pointer;
        }
      }
    }
  }
}
