.reviews-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-main .review-list {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-main .review-list__container {
  max-width: 450px;
  width: 85%;
  min-width: 300px;
  margin-top: 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}

.reviews-main .review-list__container__imagecont {
  position: relative;
  margin-bottom: -4px;
}

.reviews-main .review-list__container__imagecont__image {
  height: 130px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.reviews-main .review-list__container__imagecont__interaction {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.87);
  color: black;
  padding: 2px 5px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews-main .review-list__container__imagecont__interaction__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-main .review-list__container__imagecont__interaction__cont__icon {
  font-size: 1.5rem;
}

.reviews-main .review-list__container__imagecont:hover {
  opacity: 85%;
}

.reviews-main .review-list__container__info {
  background-color: white;
  width: 100%;
  padding: 10px 15px;
  border-radius: 0 0 4px 4px;
}

.reviews-main .review-list__container__info__header {
  width: 100%;
}

.reviews-main .review-list__container__info__header__title {
  font-weight: bold;
  font-size: 1.1rem;
}

.reviews-main .review-list__container__info__header__date {
  font-size: 0.8rem;
}

.reviews-main .review-list__container__info__header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  padding-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-main__load-more-button {
  border: none;
  background-color: none;
  padding: 20px;
  margin: 15px;
  background-color: #8c8ce6;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.reviews-main__load-more-button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=reviews.css.map */