.reviews-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .review-list {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__container {
      max-width: 600px;
      width: 80%;
      min-width: 300px;
      margin-top: 10px;

      &__imagecont {
        position: relative;
        &__image {
          border-radius: 5px 5px 5px 0;
          height: 100px;
          width: 100%;
          object-fit: cover;
        }

        &__title {
          color: white;
          position: absolute;
          bottom: 10px;
          left: 10px;
          background-color: rgba(0, 0, 0, 0.39);
          padding: 4px;
          border-radius: 4px;
          max-width: 220px;
        }

        &__interaction {
          color: white;
          position: absolute;
          right: 10px;
          top: 10px;
          background-color: rgba(255, 255, 255, 0.87);
          color: black;
          font-size: 1.1rem;
          padding: 2px 5px;
          border-radius: 5px;
          display: flex;
          flex-direction: column;

          &__cont {
            display: flex;
            justify-content: center;
            align-items: center;
            &__icon {
              font-size: 1.3rem;
              padding-right: 4px;
            }
          }
        }
      }
    }

    &__container:hover {
      opacity: 85%;
    }
  }

  &__load-more-button {
    border: none;
    background-color: none;
    padding: 20px;
    margin: 15px;
    background-color: rgb(140, 140, 230);
    font-weight: bold;
    color: white;
    border-radius: 5px;
  }
  &__load-more-button:hover {
    cursor: pointer;
  }
}
