@media only screen and (min-width: 1000px) {
  .reviews-main__categories {
    margin: 10px 0;
  }
  .reviews-main__categories button {
    border: none;
    padding: 10px 10px;
    font-family: "Bungee", cursive;
  }
  .reviews-main__categories__first {
    padding-left: 20px !important;
    border-radius: 3px 0 0 3px;
  }
  .reviews-main__categories__last {
    padding-right: 20px !important;
    border-radius: 0 3px 3px 0;
  }
  .reviews-main__categories button:hover {
    cursor: pointer;
    color: #ffae18 !important;
    background-color: #222222 !important;
  }
  .reviews-main__categories-mobile {
    display: none;
  }
}

@media only screen and (max-width: 999px) {
  .reviews-main__categories {
    display: none;
  }
  .reviews-main__categories-mobile {
    margin: 10px 0;
  }
  .reviews-main__categories-mobile select {
    width: 200px;
    background-color: #313131;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 5px 0;
    text-align: center;
    font-family: "Bungee", cursive;
  }
  .reviews-main__categories-mobile select option {
    font-weight: bold;
  }
}

.reviews-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-main__search {
  margin-bottom: 10px;
}

.reviews-main__search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reviews-main__search form input {
  border: none;
  height: 1.8rem;
}

.reviews-main__search form button {
  height: 1.8rem;
  border: none;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.reviews-main__search form .form-search-delete {
  background-color: white;
}

.reviews-main__search form .form-search-delete:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.reviews-main__search form .form-search-submit {
  background-color: #313131;
  color: white;
  padding: 0 20px;
  border-radius: 0 4px 4px 0;
}

.reviews-main__search form .form-search-submit:hover {
  cursor: pointer;
  color: #ffae18;
}

.reviews-main .review-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-main .review-list__container {
  max-width: 450px;
  width: 85%;
  min-width: 300px;
  margin-bottom: 20px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.reviews-main .review-list__container__imagecont {
  position: relative;
  margin-bottom: -4px;
}

.reviews-main .review-list__container__imagecont__image {
  height: 130px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.reviews-main .review-list__container__imagecont__interaction {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.87);
  color: black;
  padding: 2px 5px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews-main .review-list__container__imagecont__interaction__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-main .review-list__container__imagecont__interaction__cont__icon {
  font-size: 1.5rem;
}

.reviews-main .review-list__container__imagecont:hover {
  cursor: pointer;
}

.reviews-main .review-list__container__info {
  background-color: white;
  width: 100%;
  padding: 10px 15px;
  border-radius: 0 0 4px 4px;
}

.reviews-main .review-list__container__info__header {
  width: 100%;
}

.reviews-main .review-list__container__info__header__title {
  font-weight: bold;
  font-size: 1.1rem;
}

.reviews-main .review-list__container__info__header__date {
  font-size: 0.8rem;
}

.reviews-main .review-list__container__info__header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  padding-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-main__order {
  margin-bottom: 10px;
}

.reviews-main__order select {
  width: 200px;
  background-color: #313131;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 5px 0;
  text-align: center;
  font-family: "Bungee", cursive;
}

.reviews-main__order select option {
  font-weight: bold;
}

.reviews-main__page-picker {
  margin-bottom: 10px;
}

.reviews-main__page-picker button {
  border: none;
  background-color: transparent;
  padding: 5px 10px;
  background-color: #313131;
  color: #ffae18;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: bolder;
}

.reviews-main__page-picker button:hover {
  text-decoration: underline;
  cursor: pointer;
}
/*# sourceMappingURL=reviews.css.map */