.reviews-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .review-list {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__container {
      max-width: 450px;
      width: 85%;
      min-width: 300px;
      margin-top: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 6px 0 rgba(0, 0, 0, 0.19);
      &__imagecont {
        position: relative;
        margin-bottom: -4px;
        &__image {
          height: 130px;
          width: 100%;
          object-fit: cover;
          border-radius: 4px 4px 0 0;
        }

        &__interaction {
          color: white;
          position: absolute;
          right: 10px;
          top: 10px;
          background-color: rgba(255, 255, 255, 0.87);
          color: black;
          padding: 2px 5px;
          border-radius: 2px;
          display: flex;
          flex-direction: column;

          &__cont {
            display: flex;
            justify-content: center;
            align-items: center;
            &__icon {
              font-size: 1.5rem;
            }
          }
        }
      }

      &__imagecont:hover {
        opacity: 85%;
      }

      &__info {
        background-color: white;
        width: 100%;
        padding: 10px 15px;
        border-radius: 0 0 4px 4px;

        &__header {
          width: 100%;

          &__title {
            font-weight: bold;
            font-size: 1.1rem;
          }
          &__date {
            font-size: 0.8rem;
          }
          &__links {
            display: flex;
            font-size: 0.9rem;
            padding-top: 10px;
            justify-content: space-between;
          }
        }
      }
    }
  }

  &__load-more-button {
    border: none;
    background-color: none;
    padding: 20px;
    margin: 15px;
    background-color: rgb(140, 140, 230);
    font-weight: bold;
    color: white;
    border-radius: 5px;
  }
  &__load-more-button:hover {
    cursor: pointer;
  }
}
