$primary-colour: #ffae18;

@media only screen and (min-width: 700px) {
  .logonav {
    max-width: 100vw;

    img:hover {
      cursor: pointer;
    }
  }
  .hamburger {
    display: none;
  }
  .user-nav-info {
    position: absolute;
    top: 10px;
    background-color: transparent;
    color: white;
    right: 20px;
    font-family: "Bungee", cursive;
    font-size: 0.8rem;

    button {
      border: none;
      font-size: 0.8rem;
      font-family: "Bungee", cursive;
      color: white;
      background-color: transparent;
      padding: 10px 0 5px 0;
      text-decoration: underline;
    }

    button:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 700px) {
  .logonav {
    justify-content: center;
    button {
      display: none;
    }
  }
  .hamburger {
    z-index: 10;
    color: white;
    position: absolute;
    right: 10px;
    top: 7px;
  }

  .user-nav-info {
    display: none;
  }
}

header {
  background-image: url("../../image/dark_geometric.png");

  .logonav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    nav {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.082);
    }
    img {
      height: 60px;
      margin: 15px 0 10px 0;
    }
    button {
      border: none;
      font-family: "Bungee", cursive;
      margin: 0 10px 5px 10px;
      padding: 10px 0 5px 0;
    }
  }
}

.mob-nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  background-image: url("../../image/dark_geometric.png");
  height: 100vh;
  z-index: 5;

  nav {
    padding-top: 60px;
    display: flex;
    flex-direction: column;

    button {
      font-family: "Bungee", cursive;
      padding: 20px;
      font-size: 1.2rem;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      width: 100%;
    }

    button:hover {
      cursor: pointer;
    }

    button:focus {
      color: $primary-colour;
    }
  }
}

.mob-nav-collapse.collapsing {
  height: auto;

  transition: left 0.3s ease;
  left: -100%;
}
.mob-nav-collapse.show {
  left: 0;

  transition: left 0.3s ease-in;
}
