$primary-colour: rgb(255, 174, 24);

@media only screen and (min-width: 700px) {
  header {
  }
  .logonav {
    width: 100%;
    img {
      padding-right: 30px;
    }
    img:hover {
      cursor: pointer;
    }
  }
  .hamburger {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  header {
  }
  .logonav {
    justify-content: center;
    button {
      display: none;
    }
  }
  .hamburger {
    z-index: 10;
    color: white;
    position: absolute;
    right: 10px;
    top: 7px;
  }
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .colour-accent {
    width: 100vw;
    background-color: $primary-colour;
    height: 5px;
  }
  background-image: url('../../image/dark_geometric.png');

  .logonav {
    display: flex;
    img {
      height: 100px;
      margin: 20px;
    }
    button {
      background-color: rgba(202, 0, 0, 0);
      color: white;
      border: none;
      font-family: 'Bungee', cursive;
      padding: 20px;
      font-size: 1.2rem;
    }

    button:hover {
      color: $primary-colour;
      border-radius: 0 0 5px 5px;
      cursor: pointer;
    }
  }
}

.mob-nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  background-image: url('../../image/dark_geometric.png');
  height: 100vh;
  z-index: 2;

  nav {
    padding-top: 60px;
    display: flex;
    flex-direction: column;

    button {
      font-family: 'Bungee', cursive;
      padding: 20px;
      font-size: 1.2rem;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      width: 100%;
    }

    button:hover {
      cursor: pointer;
    }

    button:focus {
      color: $primary-colour;
    }
  }
}

.mob-nav-collapse.collapsing {
  height: auto;

  transition: left 0.3s ease;
  left: -100%;
}
.mob-nav-collapse.show {
  left: 0;

  transition: left 0.3s ease-in;
}
